<!DOCTYPE html>
<html lang="en">
<html>
<head>
<title> F0REVER GALAXY </title>
</head>2
<body>
<div> id="container"</div>
<header>role=banner ">
<h1>
	<!--<p>Galaxias Paquetes 1000 por $139 </p>-->
	<a href="/">POWERING IMAGINATION IN GALAXY</a>
  <a class="waves-effect waves-teal btn-flat">Button</a>
	</h1>
</header>
<nav>
	<u1>
		<!--nav itesm -->
</u1>
</nav>
<div> id="blog" class ="hidden"><-- Crea tu cuenta ahora--> </div>
<article>
	<header>
		<h1>
		<a href="Mi"</a>
      </h1>
      <div> class="postmeta"

<time datetime="">may 09st, 2018</time>
      </div>

	</header>
<aside> class="coments" id=coments
</aside>


</article>
</div>

</body>




</html>

